@media (max-width: 1366px){

}
@media (max-width: 1200px){

}
@media (max-width: 1040px){

}
@media (max-width: 992px){
    .nav {
        &-link {
            position: relative;
            &:hover {
                &::after {
                    width: 90px;
                }
            }
        }
    }
    .navbar{
        width: max-content;
    }
}
.navbar-toggler {
}
@media (max-width: 840px){
  
}
@media (max-width: 768px){
    .logo_img {
    }
}
@media (max-width: 650px){
    
}
@media (max-width: 540px){
    .navbar-nav{
        max-width: 100px;
        border-radius: 5px;
        background-color: rgba(128, 0, 128, 0.1); ;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
    }
    .nav {
        display: flex;
        &-item {
            padding: 0 5px;
    
        }
    }
}
