$fonts: maroon;
$fonts2: #8B008B;
$bcg1: #fed0d2; // цвет фона логотипа
$bcg2: #FFEFD5; //PapayaWhip
$shadow1: rgb(177, 126, 177);
$shadow2: rgba(179,153,111,1);
%title-font{
    font-family: "Caveat";
    font-size: 24px;
    color: $fonts;
    text-align: center;
}
%menu-btn {
    position: relative;
    &:hover {
        color: inherit;
        border-radius: 5px;
        background-color: rgba(128, 0, 128, 0.1); ;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $fonts;
            height: 2px;
            width: 100%;
        }
    }
}
%kolco {
    .kolco-box {
        position: relative;
        z-index: 3;
    }
    .kolco {
        position: absolute;
        top: -42px;
        height: 60px;
        width: 100%;
        background-image: url(../img/pink_new_1.svg);
        background-repeat: repeat;

    }
}

