@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
    -webkit-box-shadow: 3px 3px 5px 1px $shadow1;
    -moz-box-shadow: 3px 3px 5px 1px $shadow1;
    box-shadow: 3px 3px 5px 1px $shadow1;
    background-color: $bcg1;
    &__inner {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        height: 620px;
    }
}
.logo_img {
    position: relative;
    display: block;
    height: 620px;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 1;
}
.navbar{
    position: relative;
    z-index: 2;
    width: 100%;
}
.nav {
    display: flex;
    margin-top: 20px;
    &-item {
        padding: 0px 20px;

    }
    &-link {
        @extend %menu-btn;
        font-family: "Caveat";
        color: $fonts;
        font-size: 22px;
    }
}
.header__info {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: absolute;
    bottom: 40px;
    z-index: 2;
    color: $fonts;
    font-family: "Roboto";
    padding: 10px 15px 10px 35px;
    border-radius: 5px;
    background-color: rgba(128, 0, 128, 0.1); ;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    &-title {
        margin-left: 35px;
        font-size: 18px;
        text-transform: uppercase;
    }
    &-text {
        margin: 10px 0;
        font-size: 56px;
        font-family: "Caveat";
        color: inherit;
    }
    &-btn {
        margin: 5px;
        background-color: transparent;
        max-width: 220px;
        @extend %menu-btn;
    }
    &-btn a {
        color: $fonts;
    }
}

// FOOTER //
.footer {
    background-color: $bcg1;
    &__inner {
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__social-list {
        margin: 30px 0;
        display: inline-block;
    }
    &__social-link,
    &__contacts-link {
        padding: 0 10px;
        font-family: "Caveat";
        font-size: 22px;
        color: $fonts;
        padding-left: 28px;
        @extend %menu-btn;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top:8px;
            width: 16px;
            height: 16px;
        }
    }
    &__social-link--facebook::before {
        background-image: url(../img/facebook-square.svg);
        width: 17px;
        height: 20px;
    }
    &__social-link--instagram::before {
        background-image: url(../img/instagram.svg);
        width: 18px;
        height: 20px;
    }
    &__contacts-link--mail::before {
        background-image: url(../img/envelope.svg);
        width: 20px;
        height: 20px;
    }
}

// MAIN
.about .container,
.contacts .container,
.portfolio .container {
    background-color: $bcg2;
    -webkit-box-shadow: 3px 3px 5px 1px $shadow2;
    -moz-box-shadow: 3px 3px 5px 1px $shadow2;
    box-shadow: 3px 3px 5px 1px $shadow2;
    margin-top: 30px;
}
// About
.about {
    &__inner-title {
        text-align: center;
        color: $fonts;
        margin-top: 60px;
        font-size: 24px;
        font-family: "Caveat";
    }
    &__inner-text {
        font-size: 16px;
    }
    &__img img {
        min-height: 400px;
        object-fit: cover;
        margin: 50px auto;
        padding: 10px;
    }
    @extend %kolco;
}

// Gallery
.gallery .container,
.price > .container {
    background-color: $bcg1;
    -webkit-box-shadow: 3px 3px 5px 1px $shadow1;
    -moz-box-shadow: 3px 3px 5px 1px $shadow1;
    box-shadow: 3px 3px 5px 1px $shadow1;
    margin-top: 30px;
}
.gallery {
    &__title {
        margin-top: 40px;
        @extend %title-font;
    }
    @extend %kolco;
}
.video-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    gap: 10px;
    align-items: flex-start;
    padding: 5px 5% 50px;
    .video-list {
        display: flex;
        flex-wrap: wrap;
        background: $bcg2;
        border-radius: 5px;
        height: 650px;
        overflow-y: scroll;
    }
    .video-list .vid {
        align-items: center;
        gap: 10px;
        background: #f7f7f7;
        border-radius: 5px;
        margin: 10px;
        padding: 10px;
        border: 1px solid rgba(0,0,0,.1);
        cursor: pointer;
    }
    .video-list .vid:hover {
        background: #eee;
    }
    .video-list .vid.active {
        background: #2980b4;
    }
    .video-list .vid.active .video-title {
        color: #fff;
    }

    .video-list .vid video {
        width: 100px;
        border-radius: 5px;
    }
    .video-list::-webkit-scrollbar {
        width: 7px;
    }
    .video-list::-webkit-scrollbar-track {
        background: #ccc;
        border-radius: 50px;
    }
    .video-list::-webkit-scrollbar-thumb {
        background: #666;
        border-radius: 50px;
    }
}
.video-container .main-video {
    background: $bcg2;
    border-radius: 5px;
    padding: 10px;
    video { 
        max-height: 600px;
        width: 100%;
        border-radius: 5px;
    }
    .video-title {
        text-align: center;
        color:#333;
        font-size: 23px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.video-container .main-video .video {
    max-height: 650px;
}


// Portfolio
.portfolio {
    &__title {
        margin-top: 40px;
        @extend %title-font;
    }
    &__cards-item {
        margin-bottom: 40px;
    }
    @extend %kolco;
    &__gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        justify-content: center;
        padding-bottom: 50px;
    }
    
}
.gallery-item__thumb {
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
    object-fit: cover;
    border-radius: 20px;
    width: auto;
    height: 300;
    &:hover {
        transform: scale(1.05);
    }

}
// Price
.price {
    &__title {
        margin-top: 40px;
        @extend %title-font;

    }
    & .table {
        margin-bottom: 80px;
    }
    @extend %kolco;

}

// Contacts
.contacts {
    &__title {
        margin-top: 40px;
        @extend %title-font;
    }
    &_item {
        margin: 25px;
    }
    &_item a {
    text-decoration:none; 
    color: $fonts;
    padding: 10px;
    border-radius: 10px 0 10px 0;
    }
    @extend %kolco;

}
@import 'media';
